streamlit
groq
streamlit
groq
langchain==0.2.1
langchain-core==0.2.3
langchain-community==0.2.1
langchain-groq==0.1.5
langchain-text-splitters==0.2.1
# Free/Local Embeddings Dependencies
sentence-transformers
langchain-huggingface
faiss-cpu
pypdf
